{
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.5.0"
    }
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true
    }]
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["plugin:prettier/recommended", "prettier/react", "react-native-prettier"]
}
